<div class="footer-bottom">
    <div class="container">
        <div class="social-tools">
            <div class="social-tools--items">
                <a href="https://twitter.com/michelinIT_eng" target="_blank">
                    <div class="item">
                        <svg class="logo">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#ffffff"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path></svg>
                        </svg>
                        <span class="label">X</span>
                    </div>
                </a>
                <a href="https://www.linkedin.com/showcase/michelin-is-digital/" target="_blank">
                    <div class="item">
                        <svg class="logo">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#q4dnkuiq8a)">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M2.133 0h27.734C31.045 0 32 .955 32 2.133v27.734A2.133 2.133 0 0 1 29.867 32H2.133A2.133 2.133 0 0 1 0 29.867V2.133C0 .955.955 0 2.133 0zm5.835 25.877h3.456V13.205H7.968v12.672zM7.68 9.712c0 1.122.904 2.032 2.016 2.032 1.114 0 2.016-.91 2.016-2.032A2.025 2.025 0 0 0 9.696 7.68c-1.112 0-2.016.91-2.016 2.032zm14.112 16.165h3.456v-7.786c0-6.053-6.455-5.832-8.064-2.853v-2.033h-3.456v12.672h3.456v-6.456c0-3.586 4.608-3.88 4.608 0v6.456z"
                                          fill="#ffffff"></path>
                                </g>
                                <defs>
                                    <clippath id="q4dnkuiq8a">
                                        <path fill="#fff" d="M0 0h32v32H0z"></path>
                                    </clippath>
                                </defs>
                            </svg>
                        </svg>
                        <span class="label">Linkedin</span>
                    </div>
                </a>
                <a href="https://www.youtube.com/playlist?list=PLnQqxoRZbwnTvySzIotmQfWthUrZGU4Cy" target="_blank">
                    <div class="item">
                        <svg class="logo">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#sgf01yzuta)">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M2.133 0h27.734C31.045 0 32 .955 32 2.133v27.734A2.133 2.133 0 0 1 29.867 32H2.133A2.133 2.133 0 0 1 0 29.867V2.133C0 .955.955 0 2.133 0zm20.398 7.68H9.684a4.565 4.565 0 0 0-4.564 4.564v6.422a4.565 4.565 0 0 0 4.564 4.565h12.847a4.565 4.565 0 0 0 4.565-4.565v-6.42A4.565 4.565 0 0 0 22.53 7.68zm-3.086 8.088-6.01 2.867a.242.242 0 0 1-.346-.218v-5.913c0-.179.19-.296.351-.215l6.009 3.045c.179.091.176.347-.006.434h.002z"
                                          fill="#ffffff"></path>
                                </g>
                                <defs>
                                    <clippath id="sgf01yzuta">
                                        <path fill="#fff" d="M0 0h32v32H0z"></path>
                                    </clippath>
                                </defs>
                            </svg>
                        </svg>
                        <span class="label">YouTube</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="links">
            <a class="p-white-regular" href="/legal-notice">Legal notice</a>
        </div>
        <div class="robot-footer">
            <img src="/images/footer-robot.png"/>
        </div>
    </div>
    <div class="container">
        <p class="p-white-regular">Copyright ©{{ now.Format "2006" }} MICHELIN. All rights reserved.</p>
    </div>
</div>