<div class="burger">
    <span class="burger_line"></span>
    <span class="burger_line"></span>
    <span class="burger_line"></span>
</div>
<a href="/" class="navigation__logo">
    <img src="/images/icon/logo-header.svg" style="width:180px"/>
</a>
<div class="apos-area">
    <nav class="navigation__links">
        <a class="link navigation__link header--navigation-item" href="/#Manifesto">OSS PRINCIPLES</a>
        <a class="link navigation__link header--navigation-item" href="/#Memberships">MEMBERSHIPS</a>
        <a class="link navigation__link header--navigation-item" href="/#Projects">PROJECTS & NEWS</a>
        <a class="link navigation__link header--navigation-item" href="https://blogit.michelin.io/join-us/" target="_blank">CAREERS</a>
        <a class="link navigation__link header--navigation-item" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#111;&#112;&#101;&#110;&#115;&#111;&#117;&#114;&#099;&#101;&#064;&#109;&#105;&#099;&#104;&#101;&#108;&#105;&#110;&#046;&#099;&#111;&#109;?subject=Open%20Source%20contact" target="_blank">CONTACT US</a>
    </nav>
</div>
<div class="close">
    <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.798.204a.706.706 0 0 1-.005.994l-4.83 4.856 4.666 4.69a.706.706 0 0 1-.995 1L5.97 7.053l-4.712 4.738a.697.697 0 1 1-.984-.99l4.711-4.738L.202 1.255a.706.706 0 0 1 .995-1l4.781 4.809 4.83-4.855a.697.697 0 0 1 .99-.005z"
            fill="#FFF" fill-rule="evenodd"></path>
    </svg>
</div>